{% extends "layout.html" %}

{% block title %} My Simple Blog | Signup Page {% endblock %}

{% block body %}

{% include "navigation.html"%}
{% include "message.html" %}

<!-- Form SECTION -->
<div class="w3-container">
    <h2 class="w3-center w3-bold">Create Account</h2>

    <form class="w3-section" method="POST" novalidate style="width: 60%; margin: auto;">
        {{ form.hidden_tag() }}

        <!-- Full Name -->
        <div class="w3-section">
            <div class="w3-text-blue w3-bold">{{ form.fullname.label }}</div>
            {{ form.fullname(placeholder="Full Name", class="w3-input w3-border w3-round", type="text") }}
            {% for error in form.fullname.errors %}
            <div class="w3-text-red w3-bold">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Email -->
        <div class="w3-section">
            <div class="w3-text-blue w3-bold">{{ form.email_id.label }}</div>
            {{ form.email_id(placeholder="Email Address", class="w3-input w3-border w3-round", type="email") }}
            {% for error in form.email_id.errors %}
            <div class="w3-text-red w3-bold">{{ error }}</div>
            {% endfor %}
        </div>


        <!-- Password -->
        <div class="w3-section">
            <div class="w3-text-blue w3-bold">{{ form.password.label }}</div>
            {{ form.password(placeholder="Password", class="w3-input w3-border w3-round" , type="password") }}
            {% for error in form.password.errors %}
            <div class="w3-text-red w3-bold">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Submit -->
        <div class="w3-row-padding w3-section w3-stretch">
            <div class="w3-twothird w3-container">
                {{ form.submit(class="w3-button w3-green w3-margin-top w3-round w3-block w3-border") }}
            </div>
            <div class="w3-third w3-container">
                <a href="{{ url_for('main.signin') }}" class="w3-button w3-margin-top w3-round w3-block">
                    Already have an account? Signin
                </a>
            </div>
        </div>

    </form>

</div>

{% endblock %}